body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#localVideo, #remoteVideo {
  background: #303133;
  transform: rotateY(180deg);
}
#localVideo {
  max-width: 80vw;
  border-radius: 5px;
  /* filter: blur(4px) invert(1) opacity(1); */
  /* filter: hue-rotate(180deg) saturate(200%); */
}
#remoteVideo {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 40%;
}
.section-1 {
  position: relative;
  margin: 2rem;
}
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 4rem;
  height: 2rem;
  background: #409EFF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  margin: 0 4rem;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.p1 {
  color: #909399;
}
.init-log {
  color: #67C23A;
}
.error-log {
  color: #F56C6C;
}
.hangUp {
  background: #F56C6C;
}
#textarea {
  width: 80vw;
  max-height: 30vh;
  overflow-y: auto;
  border: 1px solid #909399;
  border-radius: 5px;
  padding: 0 1rem;
}
#table {
  width: 82vw;
}
td {
  text-align: center;
}
